In [1]:
import pandas as pd

In [4]:
df1=pd.read_csv('Data1.csv')

In [5]:
df1

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]

In [6]:
df2=pd.read_csv('Data2.csv')
df2

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

In [7]:
df1.rename(columns={'Order ID': 'Order_ID', 'Product ID': 'Product_ID'}, inplace=True)
df2.rename(columns={'Order ID': 'Order_ID', 'Product ID': 'Product_ID'}, inplace=True)

In [8]:
cols = ['Order_ID','Product_ID']
df1['NewPK'] = df1[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
df2['NewPK'] = df2[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [9]:
df1.head()

         Order_ID       Product_ID  Qty                           NewPK
0  CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006_TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343

In [10]:
df2.head()

         Order_ID       Product_ID  Qty                           NewPK
0  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363_OFF-FA-10000611

In [11]:
#Q1
x = df1[df1.NewPK.isin(df2.NewPK) == False]

In [12]:
print(x)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006_TEC-PH-10002075
10    CA-2014-100678  OFF-EN-10000056    3  CA-2014-100678_OFF-EN-10000056
19    CA-2014-100895  OFF-AR-10004511    2  CA-2014-100895_OFF-AR-10004511
35    CA-2014-101560  OFF-BI-10000309    3  CA-2014-101560_OFF-BI-10000309
61    CA-2014-102673  OFF-LA-10001771   12  CA-2014-102673_OFF-LA-10001771
...              ...              ...  ...                             ...
9390  US-2017-160836  OFF-AP-10001626    2  US-2017-160836_OFF-AP-10001626
9403  US-2017-162558  FUR-FU-10002364    2  US-2017-162558_FUR-FU-10002364
9420  US-2017-163657  OFF-BI-10000138    5  US-2017-163657_OFF-BI-10000138
9427  US-2017-164056  FUR-TA-10001307    5  US-2017-164056_FUR-TA-10001307
9435  US-2017-165456  FUR-CH-10003981    6  US-2017-165456_FUR-CH-10003981

[507 rows x 4 columns]

In [13]:
print(x.shape[0])

507

In [14]:
#Q2
y = df2[df2.NewPK.isin(df1.NewPK) == False]

In [15]:
print(y)

            Order_ID       Product_ID  Qty                           NewPK
11    CA-2014-100706  TEC-AC-10001314    2  CA-2014-100706_TEC-AC-10001314
14    CA-2014-100762  OFF-PA-10001815    3  CA-2014-100762_OFF-PA-10001815
30    CA-2014-101427  OFF-AR-10002257    3  CA-2014-101427_OFF-AR-10002257
56    CA-2014-102652  FUR-FU-10001918    7  CA-2014-102652_FUR-FU-10001918
63    CA-2014-102869  OFF-PA-10000788    3  CA-2014-102869_OFF-PA-10000788
...              ...              ...  ...                             ...
9428  US-2017-165344  OFF-BI-10003196   10  US-2017-165344_OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943    5  US-2017-165358_TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159    5  US-2017-167920_OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947    5  US-2017-169502_OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519    3  US-2017-169551_FUR-BO-10001519

[508 rows x 4 columns]

In [16]:
print(y.shape[0])

508

In [17]:
#Q3
print(y['Qty'].sum())

1956

In [18]:
#Q4

In [20]:
combined_xy = pd.concat([x, y])

In [21]:
print(combined_xy)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006_TEC-PH-10002075
10    CA-2014-100678  OFF-EN-10000056    3  CA-2014-100678_OFF-EN-10000056
19    CA-2014-100895  OFF-AR-10004511    2  CA-2014-100895_OFF-AR-10004511
35    CA-2014-101560  OFF-BI-10000309    3  CA-2014-101560_OFF-BI-10000309
61    CA-2014-102673  OFF-LA-10001771   12  CA-2014-102673_OFF-LA-10001771
...              ...              ...  ...                             ...
9428  US-2017-165344  OFF-BI-10003196   10  US-2017-165344_OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943    5  US-2017-165358_TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159    5  US-2017-167920_OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947    5  US-2017-169502_OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519    3  US-2017-169551_FUR-BO-10001519

[1015 rows x 4 columns]

In [22]:
merged_df = df1.merge(df2)

In [23]:
print(merged_df)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363_OFF-FA-10000611
...              ...              ...  ...                             ...
8966  US-2017-169551  OFF-PA-10004100    3  US-2017-169551_OFF-PA-10004100
8967  US-2017-169551  OFF-ST-10004835    3  US-2017-169551_OFF-ST-10004835
8968  US-2017-169551  TEC-AC-10002018    3  US-2017-169551_TEC-AC-10002018
8969  US-2017-169551  TEC-AC-10003033    2  US-2017-169551_TEC-AC-10003033
8970  US-2017-169551  TEC-PH-10001363    2  US-2017-169551_TEC-PH-10001363

[8971 rows x 4 columns]

In [24]:
uniq_df = pd.concat([merged_df, combined_xy])

In [25]:
print(uniq_df)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363_OFF-FA-10000611
...              ...              ...  ...                             ...
9428  US-2017-165344  OFF-BI-10003196   10  US-2017-165344_OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943    5  US-2017-165358_TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159    5  US-2017-167920_OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947    5  US-2017-169502_OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519    3  US-2017-169551_FUR-BO-10001519

[9986 rows x 4 columns]

In [26]:
print(uniq_df.shape[0])

9986